@model B2CWebsite.Models.Supplement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Supplement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Directions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Directions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warnings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warnings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InactiveIngredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InactiveIngredient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manu.ManuId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Sid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
