@model IEnumerable<B2CWebsite.Models.Supplement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Directions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InactiveIngredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warnings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InactiveIngredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.CatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manu.ManuId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
