@model B2CWebsite.Models.Manufacturer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Manufacturer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManuAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManuAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManuPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManuPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManuEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManuEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManuCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManuCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ManuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
